::ng-deep .card-solucion {
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.card-solucion-container {
    display: flex;
    justify-content: center;
    gap: 9rem;
    padding-top: 18%;
}

::ng-deep .card-solucion {
    width: 18rem;
    height: 21rem;
}

::ng-deep .card-solucion .p-card-content {
    height: 11.4rem;
}

::ng-deep .card-solucion .p-card-content img {
    width: 16rem;
    height: 11rem;
}

/* 27 pulgadas */
@media (max-width: 2200px) {
}

/* Laptop grande */
@media (max-width: 1600px) {
}

/* Laptop mediana */
@media (max-width: 1440px) {
}

/* Laptop chica */
@media (max-width: 1280px) {
    
    ::ng-deep .card-solucion {
        width: 13em;
        height: 15.5em;
    }

    ::ng-deep .card-solucion .p-card-title {
        height: 1rem;
        font-size: 18px;
    }
    ::ng-deep .card-solucion .p-card-subtitle {
        font-size: 12px;
        height: 0.5rem;
    }

    ::ng-deep .card-solucion .p-card-content {
        height: 7rem;
    }

    ::ng-deep .card-solucion .p-card-content img {
        width: 10.5rem;
        height: 6.5em;
    }
}

/* Tablet */
@media (max-width: 1000px) {

    ::ng-deep .card-solucion .p-card-content {
        height: 11.4em;
    }

    ::ng-deep .card-solucion .p-card-content img {
        width: 16em;
        height: 11em;
    }
}

/* Tablet */
@media (max-width: 768px) {
}

@media (max-width: 420px) {

    .card-solucion-container {
        gap: 1.5rem;
        padding-top: 120%;
    }

    ::ng-deep .card-solucion {
        width: 10em;
        height: 15.5em;
    }

    ::ng-deep .card-solucion .p-card-title {
        height: 2.5rem;
        font-size: 18px;
        text-align: center;
    }

    ::ng-deep .card-solucion .p-card-content {
        height: 6.5rem;
    }

    ::ng-deep .card-solucion .p-card-content img {
        width: 7.7em;
        height: 6em;
    }
}