::ng-deep .navbar {
    background-image: linear-gradient(to right, #e6e6e6, #FFE6CC);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 40
}

::ng-deep .p-toolbar-group-right .p-button,
.tituloEstudio {
    font-family: 'Trirong', serif;
    color: #350468;
    font-weight: 600;
    font-size: 22px;
}

::ng-deep .p-toolbar {
    flex-wrap: nowrap;
}

::ng-deep .p-toolbar-group-left {
    align-content: left;
    width: 10%;
    padding-left: 2rem;
}

::ng-deep .p-toolbar-group-center {
    width: 100%;
    align-items: left;
    padding-left: 4rem;
}

.logo-navbar {
    width: 5rem;
    height: 4.5rem;
}

/* Laptop mediana */
@media (max-width: 1440px) {
    ::ng-deep .p-toolbar-group-right .p-button,
    .tituloEstudio {
        font-size: 18px;
    }
}

/* Tablet */
@media (max-width: 1080px) {
    /* Menú hamburguesa */
    ::ng-deep .p-toolbar-group-right .p-button {
        background-color: #FFE6CC;
        border: 0;
    }
}

/* Tablet */
@media (max-width: 768px) {
    ::ng-deep .p-toolbar-group-left {
        padding-left: 0.5rem;
    }
}

@media (max-width: 420px) {
    .tituloEstudio {
        font-size: 15px;
    }
}

@media (max-width: 340px) {
    .tituloEstudio {
        font-size: 13px;
    }
}