<app-navbar [mensajes]="mensajes" [usuario]="usuario" (scroll)="scrollear($event)"
    *ngIf="mensajes && mensajes.length>0"></app-navbar>

<div class="imagen-fondo-1 largo1Pantalla" id="inicio">
    <app-inicio></app-inicio>
</div>

<div class="frase">
    <p class="frase1"> {{ frase1 }}</p>
    <p class="frase2"> {{ frase2 }}</p>
</div>

<div class="imagen-fondo-2 largo1Pantalla" id="nosotros" *ngIf="mensajes && mensajes.length > 0">
    <app-nosotros [mensajes]="mensajes"></app-nosotros>
</div>

<div class="imagen-fondo-3 largo1Pantalla" id="noticias">
    <app-noticias></app-noticias>
</div>

<div class="imagen-fondo-2 largo1Pantalla">
    Contacto
</div>

<div class="imagen-fondo-1 largo1Pantalla">
    Footer

    <button pButton label="Login" (click)="verSolucion('login')"></button>
    <button pButton label="Registro" (click)="verSolucion('registro')"></button>

</div>