.frase {
  background-color: white;
}

.frase1 {
  text-align: center;
  font-style: italic;
}

.frase2 {
  font-style: italic;
  text-align: right;
}

.imagen-fondo-1,
.imagen-fondo-2,
.imagen-fondo-3 {
  opacity: 0.65;
  background-attachment: fixed;
  background-size: cover;
}

.imagen-fondo-1 {
  background-image: url("../../../assets/fondo-generico.jpg");
}

.imagen-fondo-2 {
  background-image: url("../../../assets/fondo-generico2.jpg");
}

.imagen-fondo-3 {
  background-image: url("../../../assets/img_parallax3.jpg");
}