.news-dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.news-card {
    width: 17rem;
    height: 22rem;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.edit-form {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

button {
    width: 48%;
}
.boton-volver{
    width:13rem;
}